// @import 'NavBar.module.scss';

$color-gray: #656565;
$color-main: #2a43ce;

.mbtiSection {
  background-color: rgba($color-main, 0.03);
  width: 95%;
  border-radius: 5px;
  padding: 10px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .mbtiTitleBox {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -20px;
    left: 20px;
    > span {
      color: $color-gray;
      font-size: 18px;
    }
    > div {
      font-size: 14px;
      color: rgba(black, 0.7);
      border: 1px solid rgba(#0e26ae, 0.2);
      padding: 6px;
      border-radius: 5px;
    }
  }
  .mbtiBarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .mbtiNameBox {
      display: flex;
      flex-direction: column;
      width: 20%;
      
    }
    .mbtiBarBackGround {
      width: 60%;
      height: 9px;
      border-radius: 6px;
      background-color: #EFEFEF;
      // position: relative;
      .mbtiBar {
        height: 7px;
        // position: absolute;
        border-radius: 6px;
        opacity: 0.2;
        // background-color: rgba(#ff0000, 0.2);
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}