.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper > h1 {
  font-size: 26px;
  width: 90%;
  color: #656565;
}
.wrapper .questionNumBox {
  width: 90%;
  color: rgba(101, 101, 101, 0.8);
  text-align: right;
}
.wrapper section {
  width: 80%;
  height: 80%;
  background-color: rgba(42, 67, 206, 0.03);
  padding: 5vw;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.wrapper section :last-child .circleLine {
  display: none;
}
.wrapper section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.wrapper section > div > span {
  color: rgba(42, 67, 206, 0.5);
  font-size: 22px;
  width: 120px;
}
.wrapper section > div .imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  aspect-ratio: 1/1;
}
.wrapper section > div .imageBox > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.wrapper > span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(101, 101, 101, 0.8);
}

.wrapper2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper2 > h1 {
  font-size: 26px;
  color: #656565;
}
.wrapper2 .questionNumBox {
  width: 90%;
  color: rgba(101, 101, 101, 0.8);
  text-align: right;
}
.wrapper2 section {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.wrapper2 section .selectedAnswerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  border-radius: 15px;
  background-color: rgba(42, 67, 206, 0.15);
  border: 1px solid rgba(42, 67, 206, 0.7);
  position: relative;
  width: 300px;
  height: 250px;
}
.wrapper2 section .selectedAnswerBox > span {
  color: rgba(42, 67, 206, 0.75);
  font-size: 40px;
  width: 200px;
  font-weight: 500;
  z-index: 500;
  text-shadow: -3px -3px 0 white, 0px -3px 0 white, 3px -3px 0 white, 3px 0px 0 white, 3px 3px 0 white, 0px 3px 0 white, -3px 3px 0 white, -3px 0px 0 white;
}
.wrapper2 section .selectedAnswerBox > div {
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper2 section .selectedAnswerBox > div > img {
  opacity: 0.8;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.wrapper2 section .answerBox {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  border-radius: 15px;
  background-color: rgba(42, 67, 206, 0.03);
  position: relative;
}
.wrapper2 section .answerBox > span {
  color: rgba(42, 67, 206, 0.75);
  font-size: 40px;
  width: 200px;
  font-weight: 500;
  z-index: 500;
  text-shadow: -3px -3px 0 white, 0px -3px 0 white, 3px -3px 0 white, 3px 0px 0 white, 3px 3px 0 white, 0px 3px 0 white, -3px 3px 0 white, -3px 0px 0 white;
}
.wrapper2 section .answerBox > div {
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper2 section .answerBox > div > img {
  width: 100%;
  opacity: 0.5;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.wrapper2 > span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(101, 101, 101, 0.8);
}

.wrapper3 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper3 > img {
  min-width: 100%;
  width: 100%;
  margin: 12px 0px;
}
.wrapper3 > h1 {
  font-size: 26px;
  width: 90%;
  color: #656565;
}
.wrapper3 .questionNumBox {
  width: 90%;
  color: rgba(101, 101, 101, 0.8);
  text-align: right;
}
.wrapper3 section {
  padding: 24px 0px;
  justify-content: center;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
  row-gap: 30px;
  position: relative;
  background-color: rgba(42, 67, 206, 0.03);
}
.wrapper3 section .circleLine {
  display: none;
}
.wrapper3 section > div {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: center;
}
.wrapper3 section > div > span {
  font-size: 22px;
  color: rgba(42, 67, 206, 0.5);
}
.wrapper3 section .selectedAnswerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  border-radius: 15px;
  background-color: rgba(42, 67, 206, 0.15);
  border: 1px solid rgba(42, 67, 206, 0.7);
  position: relative;
  width: 300px;
  height: 250px;
}
.wrapper3 section .selectedAnswerBox > span {
  color: rgba(42, 67, 206, 0.75);
  font-size: 40px;
  width: 200px;
  font-weight: 500;
  z-index: 500;
  text-shadow: -3px -3px 0 white, 0px -3px 0 white, 3px -3px 0 white, 3px 0px 0 white, 3px 3px 0 white, 0px 3px 0 white, -3px 3px 0 white, -3px 0px 0 white;
}
.wrapper3 section .selectedAnswerBox > div {
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper3 section .answerBox {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  border-radius: 15px;
  background-color: rgba(42, 67, 206, 0.03);
  position: relative;
}
.wrapper3 section .answerBox > span {
  color: rgba(42, 67, 206, 0.75);
  font-size: 40px;
  width: 200px;
  font-weight: 500;
  z-index: 500;
  text-shadow: -3px -3px 0 white, 0px -3px 0 white, 3px -3px 0 white, 3px 0px 0 white, 3px 3px 0 white, 0px 3px 0 white, -3px 3px 0 white, -3px 0px 0 white;
}
.wrapper3 section .answerBox > div {
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper3 > span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(101, 101, 101, 0.8);
}

h1 {
  font-size: 26px;
  color: #656565;
  font-weight: 100;
}

.parentCheckCircle {
  background-color: #b4bef4;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
}
.parentCheckCircle .circleLine {
  position: absolute;
  right: 15px;
  top: 30px;
  height: 80px;
  border-right: 2px solid #b4bef4;
}
.parentCheckCircle .childCheckCircle {
  background-color: white;
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parentCheckCircle .selectedChildCheckCircle {
  background-color: rgba(42, 67, 206, 0.8);
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vsText {
  color: #656565;
  font-size: 22px;
  font-weight: 500;
}/*# sourceMappingURL=MbtiPage.module.css.map */