.wrapper {
  height: calc(100vh - 145px);
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper section {
  background-color: rgba(42, 67, 206, 0.03);
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.wrapper .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
}
.wrapper .header .titleBox {
  border-bottom: 1px solid rgba(42, 67, 206, 0.3);
}
.wrapper .header .titleBox > span {
  font-size: 17px;
  color: rgba(42, 67, 206, 0.8);
}
.wrapper .header .logBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.wrapper .header .logBox > img {
  width: 24px;
  aspect-ratio: 1/1;
}
.wrapper .header .logBox > span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.wrapper .groupInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper .groupInfoSection .profileBox {
  padding: 10px 0px;
}
.wrapper .groupInfoSection .profileBox > span {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 17px;
  color: #656565;
}
.wrapper .groupInfoSection .groupNameBox {
  display: flex;
  gap: 20px;
  padding: 0px 5px;
}
.wrapper .groupInfoSection .rewardBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: left;
  padding-left: 38px;
}
.wrapper .groupInfoSection .rewardBox > span {
  font-size: 17px;
  color: #656565;
}
.wrapper .groupInfoSection .rewardBox > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper .groupInfoSection .rewardBox > div > img {
  width: 20px;
  aspect-ratio: 1/1;
}
.wrapper .groupInfoSection .rewardBox > div > span {
  color: rgba(42, 67, 206, 0.8);
}

.memberSection {
  position: relative;
}
.memberSection > span {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 18px;
  color: #656565;
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
}
.memberSection > article {
  margin-top: 15px;
  background-color: rgba(42, 67, 206, 0.03);
  border-radius: 5px;
  position: relative;
}
.memberSection > article > span {
  color: rgba(42, 67, 206, 0.7);
  font-size: 15px;
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
  position: absolute;
  top: -10px;
  left: 25px;
}
.memberSection > article > .memberBox {
  padding: 13px;
  display: flex;
  align-items: center;
}
.memberSection > article > .memberBox > .memberCard {
  font-size: 16px;
  box-shadow: 1px 1px 2px rgba(101, 101, 101, 0.3);
  border-radius: 5px;
  background-color: white;
  height: 50px;
  flex-grow: 4;
  margin-right: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4.8fr 2.8fr;
}
.memberSection > article > .memberBox > .memberCard > img {
  width: 18px;
  justify-self: end;
}
.memberSection > article > .memberBox > .memberCard > .memberName {
  margin: 0 6px;
  text-align: left;
}
.memberSection > article > .memberBox > .miniRedButton {
  flex-grow: 1;
}/*# sourceMappingURL=MemberSection.module.css.map */